extends layout

block content
  h1= title
  -let items = results
  div(class="container-fluid")
    div(class="row m-1")
    each item,index in items
      - let destination = `dispatch(\"/legumes/update?id=${item._id}\")`
      - let destination2 = `dispatch(\"/legumes/detail?id=${item._id}\")`
      - let destination3 = `dispatch(\"/legumes/delete?id=${item._id}\")`

      div(class="col-sm-2") Object #{index+1}: #{item}
        button.btn(class="btn-primary ml-1", onclick= destination) Update
        button.btn(class="btn-primary ml-1", onclick= destination2) Details
        button.btn(class="btn-primary ml-1", onclick= destination3) Delete



  script.
    function dispatch(path){
      window.location.href=path
    }